
        <div class="row">
            <div class="col-lg-8">
                <h1>Search Results</h1>

                <h5>Sort by:
                  <div style="display:inline-block;">
                    <%= button_to 'Price', :controller => 'database', :action => 'getList', :method => 'post',
                    :params => {:sort => 'PRICE',:city=> @city, :state => @stateProvinceCode,:name=>@propertyName, :poi=>@destinationString,:departure=>@departureDate,:arrival=>@arrivalDate, :starRange => @starRange, :priceRange => @priceRange } , class:"btn btn-primary" %>
                  </div>
                  <div style="display:inline-block;">
                    <%= button_to 'Rating', :controller => 'database', :action => 'getList', :method => 'post',
                    :params => {:sort => 'QUALITY',:city=> @city, :state => @stateProvinceCode,:name=>@propertyName, :poi=>@destinationString,:departure=>@departureDate,:arrival=>@arrivalDate, :starRange => @starRange, :priceRange => @priceRange } , class:"btn btn-primary" %>
                  </div>
                  <div style="display:inline-block;">
                    <%= button_to 'Distance', :controller => 'database', :action => 'getList', :method => 'post',
                    :params => {:sort => 'PROXIMITY',:city=> @city, :state => @stateProvinceCode,:name=>@propertyName, :poi=>@destinationString,:departure=>@departureDate,:arrival=>@arrivalDate, :starRange => @starRange, :priceRange => @priceRange } , class:"btn btn-primary" %>
                  </div>
                </h5>
            </div>
        </div>

    <!-- Page Content -->
    <div class="container">

      <% (0..(@hotelList.size - 1)).each do |i| %>
        <div class="highlight">
			 <!-- /.row -->
			<div class="row">

				<div class="col-md-4">
					<br />
					<a href="#">
						<img class="img-responsive" width="100" height="140" src=<%= @hotelList[i].thumbNailUrl %> alt="">
						<br>
						<% hotelStarLevel = Integer(@hotelList[i].hotelRating) %>

						<% (1..(hotelStarLevel)).each do |i| %>
							<img width="18" height="18" src="/assets/star_rating.png" alt="...">
						<% end %>

						<% (1..(5 - hotelStarLevel)).each do |i| %>
							<img width="18" height="18" src="/assets/outlined-star-grey.png" alt="...">
						<% end %>
					</a>
				</div>
				<div class="col-md-7">

					<h3>
						<%= raw @hotelList[i].name %>
						<font size="4"> &nbsp; &nbsp; $<%= @hotelList[i].hotelPrice %></font>
					</h3>

					<!-- Name / city / price / avg rate + stars / #of reviews / Thumbnail -->
					<h4>
						<strong> <%= @hotelList[i].city %> <%= @hotelList[i].stateProvinceCode %> </strong>
							<font size="4">
								&nbsp; &nbsp; Rating: <%= @hotelList[i].hotelRating %>
								&nbsp; &nbsp; <%=Review.where(:hotel_id => @hotelList[i].hotelId).count %> Review(s)
							</font>
					</h4>
					<% str = (@hotelList[i].shortDescription)%>
					<!-- Gsub magic to get rid of embedded html -->
					<% replacements = [ ["&lt;b&gt;Property", ""], ["Location&lt;/b&gt;", ""],["&lt;br /&gt;", ""], ["&lt;p/&gt;", ""], ["&lt;p&gt;", ""], ["&lt;/p&gt;", ""], ["&lt;b&gt;", ""], ["&lt;/b&gt;", ""] ]
					replacements.each {|replacement| str.gsub!(replacement[0], replacement[1])} %>
					<p><%= raw str %><%= link_to "..more", controller: "database", action: "getHotelInfo", method: "post",
				            :params => {:hotelId => @hotelList[i].hotelId,
										:name => @hotelList[i].name,
										:city => @hotelList[i].city,
										:arrivalDate => @arrivalDate,
										:departureDate => @departureDate,
										:price => @hotelList[i].hotelPrice
										}%></p>

					<%= button_to "View Hotel", {controller: "database", action: "getHotelInfo", method: "post",
				            :params => {:hotelId => @hotelList[i].hotelId,
										:name => @hotelList[i].name,
										:city => @hotelList[i].city,
										:arrivalDate => @arrivalDate,
										:departureDate => @departureDate,
										:price => @hotelList[i].hotelPrice
										}}, {class: 'btn btn-primary'} %>
					<br /><br />
				</div>

            <!-- /.row -->
			</div>

            <hr />
        </div>
        <% end %>
        <!-- /.row -->
    </div>
